<div class="flex items-start flex-wrap gap-6">
  <div
    class="w-[330px] bg-slate-900 shadow-md cursor-pointer ounded-md overflow-hidden relative"
    *ngFor="let nft of nfts_data"
    (click)="navigateToDetails(nft)"
  >
    <figure class="h-[300px] overflow-hidden w-full">
      <img
        className="h-full w-full rounded-sm bg-cover object-cover bg-cover shadow-lg"
        [src]="nft.image"
        alt="user Profile"
      />
    </figure>

    <div class="p-[1rem] px-[1.5rem]">
      <h2 class="font-MontSemiBold text-[1rem] mb-[1rem]">{{ nft.title }}</h2>
      <p className="text-[1.2rem] mb-1 mt-2 text-indigo-500 font-MontSemiBold">
        ETH {{ nft?.price }}
      </p>
      <div class="flex items-center gap-4 mt-4 flex-wrap">
        <p
          *ngFor="let categorie of nft.categories_trending"
          class="text-[.8rem] border-[1px] border-violet-400 rounded-full px-2 py-1"
        >
          {{ categorie | categorieName }}
        </p>
      </div>
    </div>
  </div>
</div>

<p class="text-center text-[.8rem] mx-auto" *ngIf="!nfts_data.length">
  Aucun produit NFT n'est disponible pour le moment.
</p>
